extends layout

block content
	body.can
		div.container
		h1 Welcome to #{locationsArr[1]}
		p The Canary Islands, also known as the Canaries, are a Spanish archipelago located just off the northwest coast of mainland Africa, 100 kilometres west of the border between Morocco and the Western Sahara.
		a.next(href='/capeverde') Next