extends layout

block content
	body.cap
		div.container
				h1 Welcome to #{locationsArr[2]}
				p Cape Verde Listeni/ˌkeɪp ˈvɜrd/ (Portuguese: Cabo Verde, pronounced: [ˈkabu ˈveɾdɨ]), officially the Republic of Cabo Verde,[3] is an island country spanning an archipelago of 10 volcanic islands in the central Atlantic Ocean. Located 570 kilometres (350 miles) off the coast of Western Africa, the islands cover a combined area of slightly over 4,000 square kilometres (1,500 sq mi). Three (Sal, Boa Vista and Maio) are fairly flat, sandy and dry; the others generally rockier with more vegetation.
				a.next(href='/straightofmagellan') Next