doctype html
html
	head
		title Welcome Page
		link(href='CSS/main.css', rel='stylesheet')
		block content
	footer 
		ul
			li 
				a(href='/seville') Seville			
			li 
				a(href='/canaryislands') CanaryIslands
			li 
				a(href='/capeverde') Cape Verde				
			li 
				a(href='/straightofmagellan') Straight of Magellan
			li 
				a(href='/guam') Guam
			li 
				a(href='/philippines') Philippines
			