extends layout

block content
	body.phi
		div.container
			h1 Welcome to #{locationsArr[5]}
			p The Philippines (Listeni/ˈfɪlɨpiːnz/; fi-lə-peenz; Filipino: Pilipinas [ˌpɪlɪˈpinɐs]), officially known as the Republic of the Philippines (Filipino: Repúblika ng Pilipinas), is a sovereign island country in Southeast Asia situated in the western Pacific Ocean. It consists of 7,107 islands that are categorized broadly under three main geographical divisions: Luzon, Visayas, and Mindanao. Its capital city is Manila while its most populous city is Quezon City; both are part of Metro Manila.
			a.next(href='/seville') Return to Seville