extends layout

block content
	body.str
		div.container
			h1 Welcome to #{locationsArr[3]}
			p The Strait of Magellan (also called the Straits of Magellan ) is a navigable sea route immediately south of mainland South America and north of Tierra del Fuego. The strait is the most important natural passage between the Atlantic and Pacific oceans, but it is considered a difficult route to navigate because of the unpredictable winds and currents and the narrowness of the passage.
			a.next(href='/guam') Next